.card {
	height: 518px;
	width: 682px;
	margin-bottom: 73px;
	@media screen and (max-width: 870px) {
		width: 560px;
	}
	@media screen and (max-width: 700px) {
		width: 420px;
	}
	h4 {
		font-weight: 700;
		height: 64px;
		width: 562px;
		font-size: 24px;
		margin: 24px 0px 32px 0px;
	}
	.link {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: #3852f7;
		font-weight: 500;
		hr {
			width: 32px;
			margin: 0px 16px 0px 0px;
		}
	}
	img {
		height: 384px;
		width: inherit;
		object-fit: cover;
	}

	p {
		position: absolute;
		margin: 31px 0px 0px -31px;
		height: 24px;
		width: 86px;
		min-width: 86px;
		background: #e5e5e5;
		color: #6c6c6c;
		text-transform: uppercase;
		font-size: 11px;
		transform: rotate(270deg);
		line-height: 0.5rem;
		text-align: right;
	}
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 27px;
	@media screen and (max-width: 1560px) {
		justify-content: center;
	}
}
