.navigation {
	display: flex;
	justify-content: space-between;
	padding: 40px 0px 63px;

	.logo {
		img {
			height: 17px;
		}
	}
	.menu {
		height: 14px;
		ul {
			li {
				font-size: 13px;
				line-height: 14px;
				display: inline-block;
				padding: 0px 20px;
				a {
					color: #000000;
				}
			}
		}
	}
	@media screen and (max-width: 900px) {
		.menu {
			display: none;
		}
	}
}
