.svcontainer {
	margin-bottom: 100px;
	display: flex;
	@media screen and (max-width: 1560px) {
		justify-content: center;
		flex-wrap: wrap;
	}
	.details {
		h1 {
			width: 445px;
			margin: 60px 0px 65px;
			font-size: 64px;
			line-height: 68px;
			font-weight: 700;
			height: 136px;
		}
		h3 {
			font-weight: 700;
			line-height: 36px;
			font-size: 32px;
		}
		p {
			height: 74px;
			overflow: auto;
			line-height: 36px;
			font-size: 21px;
			font-family: Georgia;
		}
	}
	.img-container {
		width: 682px;
		height: 1107px;
		margin-right: 152px;
		@media screen and (max-width: 1560px) {
			margin-right: unset;
		}
		img {
			height: inherit;
			width: inherit;
			object-fit: cover;
		}

		p {
			position: absolute;
			margin: 31px 0px 0px -31px;
			height: 24px;
			width: 86px;
			background: #e5e5e5;
			color: #6c6c6c;
			text-transform: uppercase;
			font-size: 11px;
			transform: rotate(270deg);
			line-height: 0.5rem;
			text-align: right;
		}
	}
}
